{% extends 'santa_layout.html' %}

{% load static %}
{% block meta_title %}Secret Santa Add Members Page{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 ">
                <div class="jumbotron"  id="mt">
                        <h1>LIST {{ current_list.list_name }}</h1>
                        <form id="green" action="{% url 'secret_santa:add_member' current_list.id %}" method="POST">
                            {% csrf_token %}
                            {% if messages%} 
                            {% for message in messages %}
                            <p> {{ message }}</p>
                            {% endfor %}
                            {% endif %}
                            <input type="hidden" name="list_id" value="{{ current_list.id }}">
                            {{ form.as_p }}
                            <input type="submit" value="ADD MEMBER">
                           
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
