{% extends 'santa_layout.html' %}

{% load staticfiles %}
{% block meta_title %}Secret Santa{% endblock %}

{% block body %}
<section>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">
            <form action="{% url 'secret_santa:santa_home' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name='creator' value="{{ request.user.username }}">
                {% if messages%} 
                {% for message in messages %}
                <p> {{ message }}</p>
                {% endfor %}
                {% endif %}
                {{ form.as_table }}
                <input type="submit" value="CREATE LIST">
            </form>
        </div>
    </div>
    
    {% if user.list_set.all.count > 0 %}
    <div class="row">
        <div class="col-sm-1"> </div>
        <div class='col-sm-10'>
            <table class="table table-hover table-bordered">
            <thead class="white">
                <tr>
                    <th> <p>#</p></th>
                    <th>List Name</th>
                    <th>Gift Max</th>
                    <th>Total Members</th>
                    <th>Options (Secret Santa Requires Generator 3 or more)</th>
                </tr>
            </thead>
            <tbody>
                {% for list in user.list_set.all %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ list.list_name }}</td>
                    <td> {{ list.gift_max}} Dollars</td>
                    <td>  {{ list.member_set.all.count }}</td>
                    <td>
                        <a  href="{% url 'secret_santa:update_list' list.id %}">Modify </a> |
                        <a href="{% url 'secret_santa:delete_list' list.id %}">Delete</a> |
                        <a href="{% url 'secret_santa:add_member' list.id %}"> Add Member </a> |
                        {% if list.member_set.all.count > 0%}
                        <a href="{% url 'secret_santa:list_detail' list.id %}">
                            View List</a>
                            {% endif %}
                            {% if list.member_set.all.count > 2 %}
                        <a href="{% url 'secret_santa:gift_pairs' list.id %}">
                            <button class="btn btn-primary">Secret Santa </button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="col-sm-1"> </div>
    {% endif %}
</section>
{% endblock %}