{% extends 'santa_layout.html' %}
{% load staticfiles %}
{% block meta_title %}Secret Santa List View and Generator{% endblock %}
{% block body %}

    <h1> SECRET SANTA GENERATOR FOR  {{ original_list.list_name }} </h1>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4" id="green">
            <p>
                Current List Members
            </p>
            <ol>
                {% for member in original_list.member_set.all %}
                <li> {{ member.full_name  }}</li>
                {% endfor %}
            </ol>
            <form action="{% url 'secret_santa:gift_pairs' original_list.id %}" method="POST">
                {% csrf_token %}
                <button>
                    <input type="submit" value="Create Gift Pairs">
                </button>
            </form>
            
            {% if original_list.giftpair_set.all.count > 0 %}
            <form action="{% url 'secret_santa:gift_pairs' original_list.id %}" method="POST">
                {% csrf_token %}
                <button>
                    <input type="submit" value="Generate New List">
                </button>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4" id="green">
            {% if original_list.giftpair_set.all.count > 0 %}
            <ol>
                <p>Gift Pairs </p>
                {% for pair in original_list.giftpair_set.all %}
                <li>
                    {{ pair.santa }} buys gift for {{ pair.gift_receiver.full_name }}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
